@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Open+Sans:ital,wght@0,400;0,600;1,400&family=Raleway:ital,wght@0,400;0,500;1,500&display=swap");
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
  sans-serif;

$main-bg-color: #E6E6E6;
$primary-color:  #044389;
$secondary-color:  #8AA1B1;
$primary-accent: #66101F;
$secondary-accent: #273C2C;

$primary: $secondary-accent;
$secondary: $secondary-color;